@use "variables" as v;


.footer{
    
    width: auto;
    background-color: black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    border-top: 0.3px solid rgb(95, 92, 92) ;


    p{
    font-family: v.$fuente;
    font-size: 15px;;
    text-align: center;
    margin: 0;
    color: v.$colorprincipal;
    padding: 0;
    width:25%;

    }

    nav{
       height: auto;
       width: 45%;
       display:flex;
       justify-content:space-around;
       align-items: center;

        a{  
            text-decoration: none;
            font-family: v.$fuente;
            font-weight:100;
            color:v.$colorprincipal;
            font-size: 15px;
         }
        a:hover{
              color:rgba(255, 196, 0, 0.993);
        }
     }

    .contenedor-redes{
         
          width: 45%;
          display: flex;
          justify-content: space-around;

          .logo-redes{
                height: 8vh;
                width: auto;
                background-size: cover;

                display: flex;
                padding: 9px;
               }
         }  

}

@include v.mobile{
  .footer{
    height: 14vh;
    
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr;
    grid-template-rows: repeat(2 ,1fr);

    nav{
        height: 80%;
        width: auto;
        grid-row:1/2;
        grid-column: 1/5;
        text-align: center;
        align-items: center;
        
              
        border-bottom: 1px solid rgba(170, 169, 169, 0.712);

        a{
          font-size: 14px;
        }
     }
     p{
        width: 100%;
        grid-row:2/3;
        grid-column: 1/3;
        margin: 0;
        text-align: center;
        font-size: 14px;

     }
    .contenedor-redes{
       width: auto;
       grid-row: 2/3;
       grid-column:3/5;
       display: flex;
       justify-content:space-around;
       text-align: center;

       .logo-redes{
         height: 6vh;
        
        padding: 4px;
       }
     }
  
  }


}

@include v.tablet{
   
.footer{
   height: 10vh;

   p{
    font-size: 14px;;

   }
   nav a{  
         font-size: 14px;
      }
   .contenedor-redes{
          width: 30%;
          display: flex;
          justify-content: space-evenly;

          .logo-redes{
                height: 6vh;
                padding: 4px;
               }
         }  

}

}