@use "variables" as v;

.contenedor-index{
        height: 100vh;
        width: 95%;
        margin:auto;
        background: linear-gradient( rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.6)) ,
        url(../asset/img/FondoMadera2.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        display:flex;
        flex-direction: row;
        
        padding-top: 30px;

        .s1{
            height:100%;
            width:80%;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                 height: 45%;
                 width: 50%;
                 margin-bottom: 15px;
            }
            p{  
                width: 70%;
                color:v.$colorprincipal;
                font-family: v.$fuente;
                font-size: 30px;
                text-align: justify;
                margin-top: 12px;
                width: 75%;
            }

        } /*Final class s1*/

        .s2{
            height:90%;
            width:50%;

            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items:  center;
            row-gap: 1px;

            h2{
                 font-family: v.$fuente;
                 font-weight: bold;
                 font-size: 55px;
                 color:v.$colorprincipal;

                 display: inline-block;
                 margin: 0 0.5rem;
             
                 animation: heartBeat; 
                 animation-duration: 1s;
                 animation-iteration-count: 3;
                 
            }

           

            .slide{ 
                    height:50vh;
                    width: 30vw;
                    margin: 5px auto;
                    background: linear-gradient(rgb(0, 0,0, 0.6),
                    rgb(0, 0, 0,0.8));
                    text-align: center;
                    align-items: center;
                    
                    .carousel-inner .carousel-item{

                             
                             img{
                                height:50% ;
                                width:55%;
                                background-repeat: no-repeat;
                                text-align: center;
                             }

                             p {
                                 width:75%;
                                 margin: 0 auto;
                                 font-family: v.$fuente;
                                 color:v.$colorprincipal;
                                 text-transform: uppercase;
                                 font-weight: 400;
                                 font-size: 35px;
                                 text-align: center;
                                }
                           } 
                 }
            
        } /*Final class s2*/

}/*Final contenedor-index*/


@include v.mobile{
    

    .contenedor-index{
        height: auto;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        .s1{
            height:50%;
            width:auto;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 10px;

            img{
                height: 35%;
                width: 60vw;
            }
            p{
               width: 80%;
              font-size: 14px;
              text-align: justify;
              margin-top: 10px;

            }
        }

        .s2{
             height:80%;
             width:auto;
             display: flex;
             flex-direction: column;
             justify-content: center;
             text-align: center;

             h2{
                 font-size:18px;
                 margin-top: 5px;
               
                 animation-duration: 1.5s;
                 animation-iteration-count: 4;
               }
            
               .slide{
                     height: 50vh;
                     width: 70vw;
                     margin-top: 2vh;;

                     .carousel-inner .carousel-item{
                                img{
                                height:auto ;
                                width:50vw;
                                background-repeat: no-repeat;
                                text-align: center;
                                 }
                                p {
                                 font-size: 12px;
                                 text-align: center;
                                }
                          } 
                 }

            }

    }


}