
/*Importo Fuente Google "Arvo"*/

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:wght@400;700&display=swap');




/*Reseteo*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

nav{
    margin: 0;
    padding: 0;
}


/*GLOBALES*/

h1 {
    font-family: "Arvo";
    font-weight: 150;
    font-size: 20px;
    color:rgba(236, 225, 225,1);

}

h2{
    font-family: "Arvo";
    font-weight: 50;
    font-size: 30px;
    color:rgb(255, 255, 255);
    margin-top: 0px;

}


body{
    background-color: rgb(0, 0, 0);
}

/****HEADER******/

.contenedorHeader{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)) ,
    url(../asset/img/fondoHerramientas1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

    height: 15vh;
    width: auto;
   
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    border-bottom: 0.5px solid rgb(95, 92, 92) ;
    
}
/*HEADER_LOGO*/


.logo-header{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.logo-imagen{
     background-repeat: no-repeat;
     height: 10vh;
     width: 10vw;
}
.logo-Text{
    color:white;
    font-size: 24px;
    font-family: "Arvo";
    font-weight: 500;
   
    
}

/*HEADER_ENLACE*/

.header-a{
    text-decoration: none;
    font-family: "Arvo";
    font-weight:100;
    color:rgb(255, 255, 255);
    font-size: 20px;
    padding: 0 5px;
}

/****Media Querie: HEADER***/

@media (max-width: 768px)  {

    .contenedorHeader{
        align-items: center;
        height: 20vh;
    }
    .logo-header{
        width:40vw;
    }
    .logo-imagen{
        height: 8vh;
        width:10vw;
    }
    .logo-Text{
     font-size: 15px;
     text-align: center;
    }
    .contenedorHeader nav{
       display: flex;
       flex-wrap: wrap;
       width: 28vw;
       justify-content: center;
       
       
    }
    .contenedorHeader h1{
        font-size: 20px;
        text-align: center;
    }
    .header-a{
    font-size: 14px;
    }
    


}
    





/****FOOTER****/

.footer{
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 0.3px solid rgb(95, 92, 92) ;
}
.footer p{
    text-align: center;

}

.footer nav{
    height: auto;
    width: 50vw;;
    display:flex;
    justify-content: space-around;
}

.footer-a{ 
    text-decoration: none;
    font-family: "Arvo";
    font-weight:100;
    color:rgb(255, 255, 255);
    font-size: 15px;
}

.footer-contenedor-logo{
    
    display: flex;
    justify-content: center;
}

.footer-logo{
    height: 8vh;
    width: auto;
    display: flex;
    padding: 10px;
}


/**** Media Querie Footer ****/

@media (max-width: 768px){

  .footer{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(1 ,1fr);
 } 
 .footer nav{
    grid-row:1/3;
    grid-column: 3/4;
    flex-wrap: wrap ;
 }

  .footer p{
    grid-column: 1/3;
    grid-row:1/3;
   text-align: center;
  }
 .footer-a{ 
    font-size: 10px;
 }

 .footer-contenedor-logo{
    grid-row: 1/2;
    grid-column:4/5 ;
 }

}




/******INDEX********/

/*MAIN: INDEX.HTML*/

.contenedor-main{
    height: 90vh;
    width: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.6)) ,
    url(./img/FondoMadera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: row;
    
    padding-top: 30px;
   
}


/*Section 1 Main Index*/

.contenedors1{
    height:75vh;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.imgs1{
    height: 70%;
    width: 85%;
    
}

.ps1{
    width: 85%;
    color:rgb(255, 255, 255);
    font-family: "Arvo";
    font-size: 15px;
   
    text-align: justify;
}

/*Section 2 Main Index*/

.contenedors2{
    height:75vh;
    width:50%;
    font-family: "Arvo";
    font-size: 25px;
    font-weight: 400;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

.titulos2{
    
    font-family: "Arvo";
    font-weight: 150;
    font-size: 5vh;
    color:rgba(236, 225, 225,1);
}

.contenedorCatalogo{
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.imgCatalogo{
    height:75% ;
    width:50%;
    background-repeat: no-repeat;
}

/*Carousel Main Index.html */

.carousel{
    height:70% ;
    width: 60%;
    margin: 3vh 0;
}





.slide{

    background: linear-gradient(rgb(0, 0,0, 0.6),rgb(0, 0, 0,0.8));
    text-align: center;
    align-items: center;
}

.imgCarrusel{
    height:80% ;
    width:60%;
    background-repeat: no-repeat;
    text-align: center;
}



.carousel-item p{
    
    width:60%;
    margin: 0 auto;
    font-family: "Arvo";
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}



/****Media Querie: INDEX MAIN***/


@media (max-width: 768px){

    .contenedor-main{
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    /*Section 1 Main Index*/
    .contenedors1{
    height:50vh;
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

   .imgs1{
    height: 70%;
    width: auto;
 }

 .ps1{
    font-size: 12px;
    text-align: center;
   
 }
 /*Section 2 Main Index*/

 .contenedors2{
    height:100%;
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

 }
 .contenedorCatalogo{
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

 .titulos2 {
    font-size:3vh;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5px;
 }
 
 .imgCatalogo{
    height:100%;
    width:33%;
    
 }
}



    
/******CATALOGO.HTML********/



/*MAIN CATALOGO */

.contenedorMainCatalogo{
    height: 100vh;
    width: auto;
}
.catalogo{
    height: 100%;
    width: 80%;
    margin:0 auto;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)) ,
    url(./img/fondomaincatalogo.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    justify-items: center;
    align-items:center;
}



.h2-catalogo{
    font-family: "Arvo";
    font-weight: 50;
    font-size: 30px;
    color:rgb(255, 255, 255);
    grid-row: 1/2;
    grid-column: 1/4;
}

.contenedor-portada{
    grid-column: 1/4;
    grid-row:2/3;
    height: 75%;
    width: 48%;
    display: flex;
    
    justify-content:space-between;
    align-items: stretch;
}
.portada{
   height:30% ;
   width: 25%;
   all: unset;
   cursor: pointer;
}
.img-portada{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid rgba(250, 163, 3, 0.897)

}
/*.portada{
    height: 80%;
    width: 25%;
    background-repeat: no-repeat;
    background-size:contain;
    border: 2px solid rgba(250, 163, 3, 0.897);
}*/
.portada:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(240, 184, 1);
  
}

/*Media Querie Catalogo.html*/

@media (max-width: 768px){
  .contenedorMainCatalogo{
    height: 80vh;
    width: auto;
    }
  .h2-catalogo{
    font-size: 20px;
    }
  .portada{
    height: 100%;
    width: 50%;
    }
   .contenedor-portada{
    grid-column: 1/4;
    grid-row:2/3;
    height: 95%;
    width: 65vw;
    display: flex;
    column-gap: 4vw;;
    
    
}

}





/******CONTACTO.HTML********/


.contenedorMainContacto{
 background-color: black;  
}
.contenedorForm{
    height: 90vh;
    width: 70vw;
    margin:0 auto;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)) ,
    url(../asset/img/FondoContacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

.form{
    height: 100%;
    width: 100%;
    color:rgb(255, 255, 255);
    font-family: "Arvo";
    font-size: 25px;
    font-weight: 500;

    grid-column: 2/3;
    grid-row: 2/5;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputText{
   height: 5vh;
   width: 40vw;
}
.textArea{
   height: 15vh;
   width: 40vw;
}

.label{
    width: auto;
}
     
.boton{
    height: 7vh;
    width: 40vw;
    background-color: black;
    color: aliceblue;
    font-family: "Arvo";
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 15px;
}

/*Media Querie Contacto.html*/


@media (max-width: 768px){
  .contenedorForm{
    height: 80vh;
    width: 70vw;
 }
 .form{
    font-size: 18px;
    font-weight: 300;
 }
 .inputText{
   height: 5vh;
   width: 50vw;
 }
 .textArea{
   height: 15vh;
   width: 50vw;
 }
 .boton{
    height: 6vh;
    width: 50vw;
    font-size: 10px;
    margin-top: 8px;
 }
}




/******PROVEEDORES.HTML********/


.contenedorMainProveedores {
    height: 85vh;
    width: 80%;
    margin: 0 auto;
   
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)) ,
    url(../asset/img/fondoMarcas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display:grid;
    grid-template-columns: 0.3fr 0.3fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

.contenedorMainProveedores h2{
    color:rgb(255, 255, 255);
    font-family: "Arvo";
    font-weight: 100px;
    font-size: 30px;
    
    grid-column: 1/4;
    grid-row: 1/2;
}

.marca-tamaño{
    height: 14vh;
    width: 8vw;
}

.marca1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.marca2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.marca3{
    grid-column: 1/2;
    grid-row: 3/4;
}
.marca4{
    grid-column: 2/3;
    grid-row: 3/4;
}
.marca5{
    grid-column: 1/2;
    grid-row: 4/5;
}
.marca6{
    grid-column: 2/3;
    grid-row: 4/5;
}
.marca7{
    grid-column: 1/2;
    grid-row: 5/6;
}
.marca8{
    grid-column: 2/3;
    grid-row: 5/6;
}
.marca9{
    grid-column: 1/3;
    grid-row: 6/7;
}

/*Media Querie Proveedores*/

@media (max-width: 768px){
    .contenedorMainProveedores {
    height: 85vh;
    width: 80%;
    margin: 0 auto;
   

    display:grid;
    grid-template-columns: 0.8fr 0.8fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
     
 }


 .contenedorMainProveedores h2{
    font-weight: 60px;
    font-size: 25px;
    
    grid-column: 1/4;
    grid-row: 1/2;
 }

 .marca-tamaño{
    height: 10vh;
    width: 12vw;
 }

}



/******NOSOTROS.HTML********/

.contenedor-mainNosotros{
    height: 100vh;
    width: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../asset/img/FondoNosotros.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: row;
}


/*Section 1 Nosotros.html*/
.s1-Nosotros{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width:50%;
    justify-content:center;
    align-items: center;
    
}

.imgNosotros{
    height: 50vh;
    width: 90%;
}

.pNosotross1{
    font-family: "Arvo";
    font-weight: 400;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 3vh;
}
/*Section 2 Nosotros HTML */
.s2-Nosotros{
     height: 90vh;
     width:50%;
     display: flex;
     flex-direction: column;
     justify-content:center;
     align-items:left;
     gap:2vw;
}


.s2-Nosotros p{
     font-family: "Arvo";
    font-size: 20px;
    color: rgb(255, 255, 255);

}

.contenedor-logo{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 1vw;
}

.logo{
    height:6vh;
    width: 3vw;
}

.iframe-maps{
    height: 25vh;
    width: 40vw;
    margin: 2rem 0;
    border: 3px solid rgb(95, 92, 92);
}

@media (max-width: 768px){
  .contenedor-mainNosotros{
    height: 100vh;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .s1-Nosotros{
    flex-direction: column;
    height: 100%;
    width:100%;
    align-items: center;
    
 }

 .imgNosotros{
    height: 70%;
    width: 90%;
 }

 .pNosotross1{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top: 3vh;
 }
 .s2-Nosotros{
     height: 90vh;
     width:50%;
     display: flex;
     flex-direction: column;
     justify-content:center;
     gap:3vh;
    }    

  
 .s2-Nosotros p{
    height: 90%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    

 }

 .contenedor-logo{
    width: 100;
    display: flex;
    align-items: center;
    
 }

 .logo{
    height:5vh;
    width: 6vw;
 }

 .iframe-maps{
    height: 20vh;
    width: 100%;
    margin:  0;
    border: 3px solid rgb(95, 92, 92);
 }


}

/******HerramientasElectricas.HTML********/

/*MAIN */

.contenedorMainProductos{
   height: auto;
    width: 90%;
    margin: 0 auto;
}


.contenedor-tarjetas{
    height: auto;
    width: 80%;
    margin: 8px auto;
  
     background: linear-gradient( rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.6)) ,
    url(./img/FondoMadera2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
   
   display: grid;
   grid-template-areas:
    "1 2 3 4"
    "5 6 7 8"
    "9 10 11 12";
    justify-content:space-evenly;
    row-gap: 15px;
}

.tarjeta{
    height: 45vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
  
   border-radius: 15px;
   padding: 3px;
   background: white;
   box-shadow: 0 4px 10px rgba(87, 86, 86, 0.8);
}

.tarjeta:hover {
  transform: scale(1.05);
  background-color: #f1f1f1;
}

.titulo-tarjeta{
    text-transform: uppercase;
    font-family:sans-serif;
    font-weight: bold;
    font-size:70%;
    text-align: center;
    border-bottom: 2px  solid rgb(224, 224, 224);
    padding: 5px 0;
}


.img-tarjeta{
    height: 40%;
    width: 60%;
    
}

.tarjeta-descripcion{
    border-top: 2px  solid rgb(224, 224, 224);
    padding: 10px 0;
    font-weight: bold;
    font-size: 75%;  
    color: rgb(85, 84, 84);
    padding: 5px 0;
    text-align: center;
    
}

/*grid areas*/
.producto1{
    grid-area: "1";

}
.producto2{
    grid-area: "2";

}
.producto3{
    grid-area: "3";

}
.producto4{
    grid-area: "4";

}
.producto5{
    grid-area: "5";

}
.producto6{
    grid-area: "6";

}
.producto7{
    grid-area: "7";

}
.producto8{
    grid-area: "8";

}
.producto9{
    grid-area: "9";

}
.producto10{
    grid-area: "10";

};
.producto11{
    grid-area: "11";

};
.producto12{
    grid-area: "12";

};


/*Media Querie HerramientasElectricas.html*/

@media (max-width: 768px){
  
}
